body {
    background-color: #f0f8ff; /* Azul bem claro do fundo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
.login-container {
    background: linear-gradient(135deg, #b3d9ff 50%, #ffffff 50%); /* Simula o efeito de fundo dividido */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    }
.form-control {
    border-radius: 20px;
    background-color: #f8f9fa;
        }
.btn-login {
    background-color: #e9ecef;
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
        }
.bi{
    font-size: 60px; 
    color: #333;
    padding: top;
}
.logo-careplus {
    width: 180px;
    margin-top: -60px;  
    margin-left: -50px; 
    display: block; /* Garante que as margens funcionem corretamente */
    height: auto;
    
}
.img-mascote {
    width: 100%; 
    max-width: 180px; 
    height: auto; 
}
.display-5{
    margin-left: 15px;
    color: #333;
}
.text-muted{
    margin-left: 15px;
}
.card{
    border-radius: 25px;
}
.text-center{
    font-size: 0.8rem;
}

.btn-login {
    background-color: #b3d9ff; 
    color: black;
    border: 2px solid #b3d9ff;
    
    
}
.bg{
    width: 50px;
    height: 50px;
}

.email{
    font-size: 20px; 

}

.sms{
    font-size: 20px;
}

/* Seção de Código (Quadradinhos) */
.code-section {
    margin-top: 20px;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.code-inputs input {
    width: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background: white;
    outline: none;
}

.code-inputs input:focus {
    border-color: #007bff;
}

.bt-email{
    cursor: pointer;
    transition: all 0.3s ease;
}

.bt-email:hover {
    background-color: #b3d9ff; /* cor do Bootstrap primary */
    transform: scale(1.02);
}

.bt-sms{
    cursor: pointer;
    transition: all 0.3s ease;
}

.bt-sms:hover {
    background-color: #b3d9ff; /* cor do Bootstrap primary */
    transform: scale(1.02);
}

